<div class="row login">

      <form class="col-lg-3 login-form  " #formData = "ngForm">
        <div *ngIf="isRegistered" class="alert alert-success">{{ isRegistered }} </div>
        <p *ngIf="error">
          <button  type="button" class="btn btn-danger"   ><strong>ERROR!</strong> {{error}}</button >
        </p>


        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" name = "email" ngModel id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="Enter email" #email="ngModel" required >
          <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div>

        <div *ngIf="email.invalid && (email.dirty || email.touched)"
        class="alert alert-danger">

        <div *ngIf="email.errors.required">
            Email is required.
        </div>
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" name = "password" ngModel id="password" placeholder="Password" #password="ngModel" required  >
        </div>
        <div *ngIf="password.invalid && (password.dirty || password.touched)"
        class="alert alert-danger">

        <div *ngIf="password.errors.required">
            Password is required.
        </div>
        </div>

        <div class="login-form__submit">
          <button [disabled]="!formData.form.valid" type="submit" (click) = 'login(formData)' class="btn btn-primary ">Submit</button>

        </div>


      </form>
  </div>

