.register-form {
  margin-top: 2rem;
  margin-left: 2rem;
  display: flex;
  justify-content: center;
}
.register{
  margin-top: 2rem;
  margin-left: 2rem;
}
.register-right{
  margin-top: 2rem;
  // margin-right: 2rem;
  background-image: url("https://image.shutterstock.com/image-photo/woman-relaxing-by-pool-luxurious-600w-763956139.jpg");
  background-repeat: no-repeat;
  // background-size: cover;
  // background-position: center;
}
