<div class="row" >
  <div class="col-sm-12 col-md-6 col-lg-3 rental" *ngFor="let rental of rentals">
    <div class="card" style="width: 14rem; height: 20rem;" >
      <img
        src="{{rental.image}}"
        class="card-img-top"
        alt="..."
      /><br/>
      <div class="card-body">
        <div class="card-highlight">whole appartment {{rental.city}}</div>
        <p class="card-title">{{rental.title}}</p>
        <div class="card-details">${{rental.rate}} per night - Free Cancellation</div>
      </div>
    </div>
  </div>
</div>
